@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;900&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /*background-image: url(bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: #474747;
}

header{
    color:#E8175D ;
    height: 10em;
    width: 10em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 400px 0 500px;
    font-size: 30px;
    font-weight: bolder;
    
}
.title-world{
    animation: color-animation 4s linear infinite;
}
.title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }

.values{
    display: flex;
    gap: 100px;
    justify-content: center;
     
}

.values input{
    padding: 15px;
    border-radius: 10px;
}

input[type=number]{
    background-color:#a8a7a7d6;
    color: white;
    font-size: 20px;
}

input[type= number]:focus{
    background-color: #e581a2ee;
}

::placeholder{
    color: #363636;
}


button{
    margin-top:100px;
    margin-left: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 18px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

button:hover{
    color: #E8175D;
}